body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.btn.btn-outline-primary.btn-block{
    background-color: #800000;
    color: white;
 }

#fileIcon {
    font-size: 100px;
}

#backButton {
    background-color: white;
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 80px;
}