body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.btn.btn-outline-primary.btn-block{
    background-color: #800000;
    color: white;
 }

.form-check{
    margin-left: 10px;
}

.bottom-btn {
  background-color: white;
  padding: 10px 80px;
}

.button-col {
  text-align: center;
}

.option-container {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.option-text {
  flex-grow:1;
  border: black; 
  border-width: 2px;
  border-style: solid;
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

#listDiv {
  background-color: white;
  height: 400px;
  margin: 20px 5px;
  overflow: scroll; 
}

#fileIcon {
    font-size: 100px;
}

#backButton {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

#drop_zone {
    border: 5px dashed black;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #entryName{
    border: 1px solid darkgrey;
    padding: 10px;
    width:fill;
  }

  #entryContent {
    border: 1px solid darkgrey;
    padding: 10px;
    height: 500px;
  }

  .container{
    padding:0px;
  }